<!DOCTYPE html>
<html lang="en" ng-app="formulario">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>

<body ng-controller="formController">
    <div class="container">
        <div class="col-md-5">
            <div class="form-area">

                <form novalidate name="miForm" ng-submit="enviarForm()">
                    <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Formulario de Contacto</h3>
                    <div class="form-group" ng-class="{'has-error': miForm.name.$touched && miForm.$invalid, 'has-success': miForm.$valid}">
                        <input type="text" class="form-control css-nombre" id="name" name="name" placeholder="Nombre" ng-model="usuario.nombre" required>
                        <span ng-show="miForm.name.$touched && miForm.name.$error.required" class="help-inline">Campo requerido </span>
                            <!-- Clases dinámicas pristine, touched, dirty, valid, invalid  paraq validación -->
                    </div>
                    <div class="form-group" ng-class="{'has-error': miForm.email.$touched && miForm.$invalid, 'has-success': miForm.$valid}">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" ng-model="usuario.email" required ng-pattern ="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/">
                        <p>
                            <span ng-show="miForm.email.$touched && miForm.email.$error.required">
                               Campo requerido                              
                            </span>
                        </p>
                        <p>
                            <span ng-show="miForm.email.$touched && miForm.email.$error.pattern">
                               Email no válido                              
                            </span>
                        </p>
                    </div>


                    <div class="form-group" ng-class="{'has-error': miForm.celular.$touched && miForm.$invalid, 'has-success': miForm.$valid}">
                        <input type="number" class="form-control" id="celular" name="celular" placeholder="Numero de Celular"
                            required ng-model="usuario.celular" >
                    </div>
                    <div class="form-group" ng-class="{'has-error': miForm.subject.$touched && miForm.$invalid, 'has-success': miForm.$valid}">

                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Asunto"
                            required ng-model="usuario.subject">
                    </div>
                    <div class="form-group" ng-class="{'has-error': miForm.message.$touched && miForm.$invalid, 'has-success': miForm.$valid}">
                        <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Mensaje" ng-maxlength="140" rows="7" ng-model="usuario.mensaje"></textarea>
                            <span ng-show="!miForm.message.$invalid">
                               {{140 - usuario.mensaje.length}}                            
                            </span>
                             <span ng-show="miForm.message.$invalid">
                               {{ "Demasiados Carácteres"}}                            
                            </span>
                    </div>

                    <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right" ng-disabled="miForm.$pristine || (miForm.$dirty && miForm.$invalid)" ng-click="enviarForm()">Enviar Formulario</button>
                </form>
            </div>
        </div>
    </div>

    <script src="lib/angular/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>